.amenities-admin .hotel-1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 3px 6.3px 0 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 21px;
  color: #FFFFFF;
}

.amenities-admin .amarindo-1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 21px;
  color: #FFFFFF;
}

.amenities-admin .container-9 {
  border-radius: 4px;
  background: #1E91B6;
  position: relative;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 8.6px;
  width: 133px;
  box-sizing: border-box;
}

.amenities-admin .container-6 {
  background: url('assets/images/Image.png') 50% / cover no-repeat;
  position: absolute;
  left: 55.7px;
  top: 1px;
  width: 40px;
  height: 29px;
}

.amenities-admin .logo {
  border-radius: 7px;
  position: relative;
  margin: 10.6px 0 12.9px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.amenities-admin .services {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 15px;
  width: 232.3px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}

.amenities-admin .reviews {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}

.amenities-admin .about-us {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 0px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
}

.amenities-admin .nav-bar-info {
  margin: 14.6px 0 13.9px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 601.1px;
  height: fit-content;
  box-sizing: border-box;
}

.amenities-admin .pfp {
  border-radius: 100px;
  background: url('assets/images/Pfp.png') 50% / cover no-repeat;
  margin-right: 0px;
  width: 54px;
  height: 58.5px;
}

.amenities-admin .nav-bar {
  background: #181818;
  position: relative;
  margin-bottom: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 7.4px 46px 2.1px 72.3px;
  width: 1440px;
  box-sizing: border-box;
}

.amenities-admin .amenities {
  margin: 0 76px 6.5px 76px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 45px;
  color: #000000;
}

.amenities-admin .line-2 {
  background: #7D7D7D;
  margin: 0 69px 78px 69px;
  width: 1302px;
  height: 2px;
}

.amenities-admin .amenity {
  margin-right: 15px;
  width: 408.7px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #181818;
}

.amenities-admin .price {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #181818;
}

.amenities-admin .reserv-info-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 472.9px;
  height: fit-content;
  box-sizing: border-box;
}

.amenities-admin .amenity-1 {
  margin-right: 15px;
  width: 408.7px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #181818;
}

.amenities-admin .price-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #181818;
}

.amenities-admin .reserv-bar-1 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #F5F5F5;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 0;
  width: 753px;
  box-sizing: border-box;
}

.amenities-admin .reserv-bar {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #F5F5F5;
  position: relative;
  margin: 0 11px 57px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14px 95px 14px 0;
  width: 753px;
  box-sizing: border-box;
}

.amenities-admin .birthday-cake-2 {
  margin: 10px 13.5px 0 0;
  display: inline-block;
  width: 296.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #1A1A1A;
}

.amenities-admin .container-4 {
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #1A1A1A;
}

.amenities-admin .image-16 {
  background: url('assets/images/Image16.png') 50% / cover no-repeat;
  margin-right: 45px;
  width: 128px;
  height: 87px;
}

.amenities-admin .birthday-cake-3 {
  margin: 48.5px 0 11.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #1A1A1A;
}

.amenities-admin .container-3 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.amenities-admin .container-5 {
  margin: 38.5px 0px 21.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #1A1A1A;
}

.amenities-admin .container-12 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0 46px 28px;
  width: 752px;
  box-sizing: border-box;
}

.amenities-admin .container-13 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 23.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48.5px 0 57.5px 0;
  width: 752px;
  box-sizing: border-box;
}

.amenities-admin .delete-room-1 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1.333;
  color: #1E91B6;
}

.amenities-admin .delete-amenity-2 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1.333;
  color: #1E91B6;
}

.amenities-admin .cancel-reserv-5 {
  border-radius: 6px;
  border: 1px solid #1E91B6;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 0.4px 8px 0;
  width: 169px;
  box-sizing: border-box;
}

.amenities-admin .cancel-reserv-4 {
  border-radius: 6px;
  border: 1px solid #1E91B6;
  background: #FFFFFF;
  position: relative;
  margin: 0.5px 19px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 0.6px 8px 0;
  width: 169px;
  height: fit-content;
  box-sizing: border-box;
}

.amenities-admin .modify-amenity {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1.333;
  color: #FFFFFF;
}

.amenities-admin .mod-reserv {
  border-radius: 6px;
  background: #1E91B6;
  margin-bottom: 0.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 9px 0.3px 9px 0;
  width: 169px;
  height: fit-content;
  box-sizing: border-box;
}

.amenities-admin .container-11 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 357px;
  box-sizing: border-box;
}

.amenities-admin .reserv-11 {
  border-radius: 6px;
  margin: 0 10px 46px 0;
  display: flex;
  flex-direction: column;
  width: 752px;
  box-sizing: border-box;
}

.amenities-admin .birthday-cake {
  margin: 10px 13.5px 0 0;
  display: inline-block;
  width: 296.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #1A1A1A;
}

.amenities-admin .container-7 {
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #1A1A1A;
}

.amenities-admin .image-17 {
  background: url('assets/images/Image17.png') 50% / cover no-repeat;
  width: 82px;
  height: 62px;
}

.amenities-admin .spa {
  margin: 25.5px 0 9.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #1A1A1A;
}

.amenities-admin .container {
  margin: 25.5px 0px 9.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #1A1A1A;
}

.amenities-admin .container-6 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 23px 0 58px 56px;
  width: 752px;
  box-sizing: border-box;
}

.amenities-admin .container-2 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48.5px 0 57.5px 0;
  width: 752px;
  box-sizing: border-box;
}

.amenities-admin .delete-room-2 {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1.333;
  color: #1E91B6;
}

.amenities-admin .delete-amenity {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1.333;
  color: #1E91B6;
}

.amenities-admin .cancel-reserv {
  border-radius: 6px;
  border: 1px solid #1E91B6;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 0.4px 8px 0;
  width: 169px;
  box-sizing: border-box;
}

.amenities-admin .cancel-reserv-6 {
  border-radius: 6px;
  border: 1px solid #1E91B6;
  background: #FFFFFF;
  position: relative;
  margin: 0 23px 0.5px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 0.6px 8px 0;
  width: 169px;
  height: fit-content;
  box-sizing: border-box;
}

.amenities-admin .modify-amenity-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1.333;
  color: #FFFFFF;
}

.amenities-admin .mod-reserv-1 {
  border-radius: 6px;
  background: #1E91B6;
  margin-top: 0.5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 9px 0.3px 9px 0;
  width: 169px;
  height: fit-content;
  box-sizing: border-box;
}

.amenities-admin .container-8 {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 361px;
  box-sizing: border-box;
}

.amenities-admin .reserv-12 {
  border-radius: 6px;
  margin: 0 18px 51.5px 0;
  display: flex;
  flex-direction: column;
  width: 752px;
  box-sizing: border-box;
}

.amenities-admin .birthday-cake-1 {
  margin: 10px 13.5px 0 0;
  display: inline-block;
  width: 296.5px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #1A1A1A;
}

.amenities-admin .container-1 {
  position: relative;
  margin-bottom: 10px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #1A1A1A;
}

.amenities-admin .image-18 {
  background: url('assets/images/Image18.png') 50% / cover no-repeat;
  margin-right: 66px;
  width: 73px;
  height: 77px;
}

.amenities-admin .bar {
  margin: 38.5px 0 11.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #1A1A1A;
}

.amenities-admin .container-10 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.amenities-admin .container-2 {
  margin: 28.5px 0px 21.5px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #1A1A1A;
}

.amenities-admin .container-15 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 0 46px 62px;
  width: 752px;
  box-sizing: border-box;
}

.amenities-admin .container-7 {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 48.5px 0 57.5px 0;
  width: 752px;
  box-sizing: border-box;
}

.amenities-admin .delete-room {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1.333;
  color: #1E91B6;
}

.amenities-admin .delete-amenity-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1.333;
  color: #1E91B6;
}

.amenities-admin .cancel-reserv-2 {
  border-radius: 6px;
  border: 1px solid #1E91B6;
  background: #FFFFFF;
  position: absolute;
  left: 50%;
  bottom: 0px;
  translate: -50% 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 8px 0.4px 8px 0;
  width: 169px;
  box-sizing: border-box;
}

.amenities-admin .cancel-reserv-1 {
  border-radius: 6px;
  border: 1px solid #1E91B6;
  background: #FFFFFF;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: flex-start;
  padding: 8px 0.6px 8px 0;
  width: 169px;
  box-sizing: border-box;
}

.amenities-admin .reserv-1 {
  border-radius: 6px;
  position: relative;
  margin: 0 18px 59.5px 0;
  display: flex;
  flex-direction: column;
  width: 752px;
  box-sizing: border-box;
}

.amenities-admin .add-amenity {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.5px;
  line-height: 0.833;
  color: #FFFFFF;
}

.amenities-admin .cancel-reserv-3 {
  border-radius: 6px;
  border: 1px solid #1E91B6;
  background: #1E91B6;
  margin: 0 55px 111px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15.5px 0.9px 15.5px 0;
  width: 217px;
  box-sizing: border-box;
}

.amenities-admin .subscription-and-special-promotion {
  margin-bottom: 16px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}

.amenities-admin .enter-email-address-here {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  color: #D9D9D9;
}

.amenities-admin .frame-10 {
  border-radius: 12px;
  background: #FFFFFF;
  position: relative;
  padding: 18px 15px;
  box-sizing: border-box;
}

.amenities-admin .subscribe {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
}

.amenities-admin .frame-9 {
  border-radius: 0 12px 12px 0;
  background: #1E91B6;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 17.3px 0.9px 17.3px 0;
  width: 121.8px;
  box-sizing: border-box;
}

.amenities-admin .email {
  position: relative;
  padding-right: 0.5px;
  box-sizing: border-box;
}

.amenities-admin .container-4 {
  margin: 20.5px 0 22.5px 0;
  display: flex;
  flex-direction: column;
  width: 446.4px;
  box-sizing: border-box;
}

.amenities-admin .hotel {
  margin: 0 5px 3px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 23px;
  color: #FFFFFF;
}

.amenities-admin .amarindo {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 23px;
  color: #FFFFFF;
}

.amenities-admin .container-5 {
  border-radius: 4px;
  background: #1E91B6;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 8.6px 3px 9.2px;
  box-sizing: border-box;
}

.amenities-admin .container-3 {
  background: url('assets/images/Image.png') 50% / cover no-repeat;
  position: absolute;
  left: 57.9px;
  top: 0px;
  width: 46.3px;
  height: 32.8px;
}

.amenities-admin .frame-1 {
  border-radius: 7px;
  position: relative;
  margin: 0 0.2px 12px 0.2px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}

.amenities-admin .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-nullam-dictum-aliquet-accumsan-porta-lectus-ridiculus-in-mattis-netus-sodales-in-volutpat-ullamcorper-amet-adipiscing-fermentum {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 13px;
  line-height: 1.692;
  color: var(--blue-button, #FFFFFF);
}

.amenities-admin .frame-427321051 {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.amenities-admin .container-14 {
  background: #2A2A2A;
  position: relative;
  margin-bottom: 33.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 47.8px 76.4px 22.4px 41.3px;
  width: 1440px;
  box-sizing: border-box;
}

.amenities-admin .copyright-hotel-tamarindo-2024-all-right-reserved {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.amenities-admin .copyright {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.amenities-admin .union {
  width: 21.5px;
  height: 21.5px;
}

.amenities-admin .instagram {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 21.5px;
  height: 21.5px;
  box-sizing: border-box;
}

.amenities-admin .path {
  width: 21px;
  height: 17px;
}

.amenities-admin .twitter {
  margin: 2.8px 0 1.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 21px;
  height: 17px;
  box-sizing: border-box;
}

.amenities-admin .icon {
  width: 18px;
  height: 18px;
}

.amenities-admin .facebook {
  margin: 1.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.amenities-admin .social-media-stack {
  margin: 1.3px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 107.8px;
  height: fit-content;
  box-sizing: border-box;
}

.amenities-admin .privacy-policy-term-condition-faq {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.amenities-admin .copyright-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.amenities-admin .container-1 {
  margin: 0 70.6px 0 44.3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1325px;
  box-sizing: border-box;
}

.amenities-admin .copyright-hotel-tamarindo-2024-all-right-reserved-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.amenities-admin .copyright-2 {
  margin: 0.7px 0 0.2px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.amenities-admin .union-1 {
  width: 21.5px;
  height: 21.5px;
}

.amenities-admin .instagram-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 21.5px;
  height: 21.5px;
  box-sizing: border-box;
}

.amenities-admin .path-1 {
  width: 21px;
  height: 17px;
}

.amenities-admin .twitter-1 {
  margin: 2.8px 0 1.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 21px;
  height: 17px;
  box-sizing: border-box;
}

.amenities-admin .icon-1 {
  width: 18px;
  height: 18px;
}

.amenities-admin .facebook-1 {
  margin: 1.8px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.amenities-admin .social-media-stack-1 {
  margin-bottom: 3.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 107.8px;
  height: fit-content;
  box-sizing: border-box;
}

.amenities-admin .privacy-policy-term-condition-faq-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.amenities-admin .copyright-3 {
  margin-top: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}

.amenities-admin .container {
  background: #1E1E1E;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 38.5px 84.7px 35.1px 42.8px;
  box-sizing: border-box;
}

.amenities-admin .footer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40.8px;
  width: 1440px;
  box-sizing: border-box;
}

.amenities-admin .modify-amenity-2 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1.333;
  color: #FFFFFF;
}

.amenities-admin .mod-reserv-2 {
  border-radius: 6px;
  background: #1E91B6;
  position: absolute;
  left: 527px;
  bottom: 528px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 9px 0.3px 9px 0;
  width: 169px;
  box-sizing: border-box;
}

.amenities-admin {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.2px;
  width: 1440px;
  box-sizing: border-box;
}

.amenities {
  margin: 0 76px 6.5px 76px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 45px;
  color: #000000;
}

hr {
  width: 90%;
  height: 2px;
  background-color: black;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.amenities-bar {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #F5F5F5;
  margin-top: 5%;
  margin-left: 20%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: center;
  width: 60%;
  box-sizing: border-box;
}

.amenity {
  padding: 0%;
  margin-right: 300px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #181818;
}

.price {
  padding: 0%;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  margin-right: 15px;
  font-weight: 500;
  font-size: 20px;
  color: #181818;
}