.amenities {
  margin: 0 76px 6.5px 76px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 45px;
  color: #000000;
}

hr {
  width: 90%;
  height: 2px;
  background-color: black;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.amenities-bar {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #F5F5F5;
  margin-top: 5%;
  margin-left: 20%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: center;
  width: 60%;
  box-sizing: border-box;
}

.amenity {
  padding: 0%;
  margin-right: 300px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #181818;
}

.price {
  padding: 0%;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  margin-right: 15px;
  font-weight: 500;
  font-size: 20px;
  color: #181818;
}

.add-amenity-button {
  border-radius: 6px;
  border: 1px solid #1E91B6;
  background: #1E91B6;
  font-family: 'Poppins';
  cursor: pointer;
  width: 150px;
  margin-top: 5%;
  margin-left: 44%;
  padding-block: 0.5%;
  font-weight: 500;
  font-size: 23px;
  color: #ffffff;
}

.amenities-container {
  margin-left: 19.9%;
}

.room-info {
  height: 100px;
  margin-top: 2%;
  width: 71%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
  background-color: #ccc;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-right: auto;
  margin-bottom: 5px;
}

.amenity-price {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}


.delete-button-container {
  margin-top: 20px;
  border-radius: 6px;
  border: 1px solid #1E91B6;
  background: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  padding: 8px 0.4px 8px 0;
  width: 169px;
  box-sizing: border-box;
}

.delete-button {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1.333;
  color: #1E91B6;
}

.mod-amenity {
  margin-top: 20px;
  margin-left: 1%;
  border-radius: 6px;
  background: #1E91B6;
  display: flex;
  justify-content: center;
  padding: 9px 0.3px 9px 0;
  width: 169px;
  cursor: pointer;
}

.modify-amenity {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.3px;
  line-height: 1.333;
  color: #FFFFFF;
}

.amenities-button-container {
  display: flex;
  align-items: center;
}