.amenities {
  margin: 10px 76px 6.5px 76px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 45px;
  color: #000000;
}

hr {
  width: 90%;
  height: 2px;
  background-color: black;
  border: none;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.amenities-bar {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: #F5F5F5;
  margin-top: 5%;
  margin-left: 20%;
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 0%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 5vh;
  width: 60%;
  box-sizing: border-box;
}

.amenity {
  padding: 0%;
  margin-right: 130px;
  margin-left: 170px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 20px;
  color: #181818;
}

.price {
  padding: 0%;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  margin-right: 15px;
  font-weight: 500;
  margin-right: 16vw;
  font-size: 20px;
  color: #181818;
}

.amenity-actions {
  padding: 0%;
  margin-left: 2.5vw;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  margin-right: 15px;
  font-weight: 500;
  font-size: 20px;
  color: #181818;
}

.amenities_page .custom-show {
  position: relative;
  margin-left: 20vw;
}

.amenities_page .custom-select {
  position: relative;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#myForm .red-label-a {
  font-size: 16px;
  color: rgb(161, 7, 7);
  display: none;
  margin-bottom: 5vh;
}

.amenities_page .add-amenity-button {
  border-radius: 6px;
  border: 1px solid #1E91B6;
  background: #1E91B6;
  font-family: 'Poppins';
  cursor: pointer;
  width: 150px;
  padding-block: 0.5%;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  margin-bottom: -40vh;
  margin-top: 2vh;
  margin-left: 43.5vw;
}

.amenities_page .myForm .add-amenity-button {
  margin: 0%;
  margin-top: 10%;
  border-radius: 6px;
  border: 1px solid #1E91B6;
  background: #1E91B6;
  font-family: 'Poppins';
  cursor: pointer;
  padding-block: 2%;
  width: 170px;
  font-weight: 500;
  font-size: 23px;
  color: #ffffff;
  margin-left: 1%;
}

.myForm .modify-amenity-button {
  margin: 0%;
  margin-top: 10%;
  border-radius: 6px;
  border: 1px solid #1E91B6;
  background: #1E91B6;
  font-family: 'Poppins';
  cursor: pointer;
  padding-block: 2%;
  width: 200px;
  font-weight: 500;
  font-size: 23px;
  color: #ffffff;
  margin-left: 0.5vw;
}

.amenities_page .file-input-container {
  margin-top: 5%;
  position: relative;
  margin-left: 3vw;
  display: inline-block;
}

.file-input {
  position: absolute;
  left: -9999px;
}

.amenities_page .title2 {
  visibility: visible;
  position: absolute;
  top: 45vh;
}

.amenities_page .title {
  visibility: visible;
  position: absolute;
  top: 42vh;
}

.amenities_page .myForm label {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 23px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  margin-top: 1%;
  margin-bottom: 0%;
}

.amenities_page .file-input-label {
  height: 5vh;
}

.amenities_page .myForm .file-input-label {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 23px;
  background-color: #1E91B6;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;  
  margin-left: 8%;
  cursor: pointer;
}

.amenities_page .myForm .file-input-label2 {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 23px;
  background-color: #1E91B6;
  color: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  margin-left: -7%;
  cursor: pointer;
}

.file-input-label:hover {
  background-color: #61bad7;
}

.close {
  color: #000000;
  float: right;
  margin: 0%;
  font-size: 35px;
  cursor: pointer;
  font-weight: bold;
}

.amenities_page .image-preview {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 10vw;
  margin-left: -6.7vw;
  margin-top: 18vh;
}

.amenities_page .image-preview2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 15vw;  
  margin-left: -2vw;
  margin-top: 6vh;
}

.amenities_page .myForm input[type="text"] {
  width: 80%;
  padding-inline: 2%;
  height: 30px;
  margin-left: 6%;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  margin-top: 34vh;
}

.myForm input[type="number"] {
  padding-inline: 2%;
  width: 50%;
  height: 25px;
  margin-left: 2.5%;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
}

.amenities_page .myForm {
  display: flex;
  padding-top: 0%;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin-top: 1%;
}

.myForm div,
textarea,
button {
  margin-bottom: 20px;
}

.myForm button {
  display: absolute;
  width: auto;
  position: relative;
  overflow: hidden;
  background: none;
  border: none;
}

.myForm button img {
  max-width: 100%;
  max-height: 100%;
}

input[type="title"] {
  width: 30%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  box-sizing: border-box;
}

.form-modal-content {
  background: white;
  background-size: cover;
  background-position: center;
  position: relative;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 35%;
  overflow-x: hidden;
}

.form-modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}

.amenities-container {
  margin-left: 19.9%;
}