.footer .copyright-hotel-tamarindo-2024-all-right-reserved {
  margin: 0.7px -220px 0.2px 20px;
  display: inline-block;
  width: 571.3px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.footer .instagram {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 21.5px;
  height: 21.5px;
  box-sizing: border-box;
}

.footer .twitter {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 31px;
  height: 21px;
  box-sizing: border-box;
}

.footer .facebook {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 29px;
  height: 20px;
  box-sizing: border-box;
}

.footer .social-media-stack {
  margin-bottom: 3.5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 107.8px;
  height: fit-content;
  box-sizing: border-box;
}

.privacy-policy-term-condition-faq a {
  margin-top: 1px;
  overflow-wrap: break-word;
  padding-inline: 0px;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
  margin-right: 40px;
}

.footer {
  background: #181818;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 20px;
  width: 1005;
  box-sizing: border-box;
}

.footer-upper .subscription-and-special-promotion {
  margin-top: -10px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 15px;
  color: #FFFFFF;
}

.footer-upper .enter-email-address-here {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-size: 13px;
  color: #D9D9D9;
}

.footer-upper .subcription {
  border: none;
  border-radius: 12px;
  outline: none;
  background: #FFFFFF;
  position: relative;
  width: 400px;
  padding: 18px 15px;
  box-sizing: border-box;
}

.footer-upper .subscribe {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.footer-upper .subscribe-button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  border-radius: 0 12px 12px 0;
  background: #1E91B6;
  position: absolute;
  right: 0px;
  bottom: 0px;
  display: flex;
  height: 52px;
  flex-direction: row;
  justify-content: center;
  padding: 17.8px 0.9px 17.8px 0;
  width: 122px;
  box-sizing: border-box;
}

.footer-upper-container {
  width: 100%;
  margin: 0 auto;
}

.footer-upper h1 {
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 200;
  font-style: normal;
  color: #fff;
}

.footer-upper img {
  width: calc(258px / 1.5);
  height: calc(65px / 1.5);
  margin-top: -57px;
  margin-left: 75px;
}

.footer-upper .email {
  position: relative;
  margin: 9px 0 22.5px 0;
  padding: 0.4px 0.9px 0.2px 0;
  width: 446.7px;
  box-sizing: border-box;
}

.footer-upper .lorem-ipsum {
  overflow-wrap: break-word;
  text-align: justify;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 15px;
  color: white;
  width: 450px;
}

.footer-upper .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1361.1px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 40px;
  margin-top: -50px;
  margin-right: 200px;
}

.footer-upper .container-2 {
  display: grid;
  padding: 0;
  width: 1250px;
  margin: 0 auto;
  margin-top: -160px;
  margin-left: 63%;
}

.footer-upper {
  margin-top: 1%;
  background: #2A2A2A;
  display: flex;
  flex-direction: column;
  padding: 68.4px 37.6px 22.3px 41.3px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: border-box;
}