html {
  overflow-x: hidden;
} 

.login {
  font-family: 'Poppins';
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.formContainer {
  box-shadow: 7px 7px 50px 7px rgb(61, 57, 57);
  background: #FFFFFF;
  border: 2px solid white;
  width: 40vw;
  display: inline-block;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.formBg {
  box-shadow: 7px 7px 50px 7px rgb(61, 57, 57);
  background: #FFFFFF;
  position: absolute;
  filter: opacity(70%);
  z-index: -2;
  width: 100vw;
  height: 133vh;
  background: url('../assets/Background.png') 50% / cover no-repeat;
}

.loginTitle {
  position: relative;
  margin: 0 1px 15px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-weight: 900;
  font-size: 1.8vw;
  color: #181818;
}

input:focus{
  outline: none;
}

.email {
  position: relative;
  flex-direction: column;
  width: 22vw;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.1vw;
}

.emailText {
  margin-bottom: 14px;
  align-self: flex-start;
  letter-spacing: 0.3px;
  letter-spacing: 1px;
  line-height: 0.3;
  color: #181818;
}

#email {
  padding-left: 15px;
  font-family: 'Poppins';
  font-size: 1vw;
  width: 20vw;
  height: 35px;
  background-color: rgb(228, 228, 228);
  letter-spacing: 1px;
  border-radius: 3px;
  border: none;
  margin-bottom: 3vh;
}

.password {
  position: relative;
  flex-direction: column;
  width: 20.5vw;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1.1vw;
}

.passwordText {
  font-size: 1.1vw;
  margin-top: 30px;
  margin-bottom: 14px;
  align-self: flex-start;
  letter-spacing: 1px;
  line-height: 0.3;
  color: #181818;
}

.inputPassword {
  padding-left: 15px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20.5vw;
  height: 4vh;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 1vw;
  
  box-sizing: border-box;
  background-color: rgb(228, 228, 228);
  border-radius: 3px;
  margin-bottom: 3vh;
}

#password {
  font-size: 18px;
  width: 19.5vw;
  font-family: 'Poppins';
  letter-spacing: 1px;
  border-radius: 3px;
  background-color: transparent;
  border: none;

  &.visible {
    padding-left: 0;
    padding-bottom: 1.6vh;
  }
}

.showPass {
  letter-spacing: 1px;
  margin: 5px 10px;
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}

.containerQuestions {
  text-align: end;
  margin-top: -1vh;
  margin-right: -11.5vw;
}

.forgotPass {
  width: 15vw;
}

a {
  padding-top: 12px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bolder;
  color: #1E91B6;
}

.loginButton {
  border-radius: 6px;
  border: none;
  background: #1E91B6;
  position: relative;
  margin-bottom: 36px;
  display: flex;
  padding: 12px 0.5px 13px 0;
  width: 20.5vw;
  box-sizing: border-box;
  text-align: center;
  vertical-align:middle;
  text-indent: 175px;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
}

.separator {
  position: relative;
  height: 1px;
  width: 20.5vw;
  background-color: #717171;
  box-shadow: none;
}

.register {
  position: relative;
  color: #4F4F4F;
  margin-bottom: 4vh;
  margin-top: 4vh;
}

.linkRegister {
  margin-left: 7px;
}
