.pagination-button {
  border-radius: 6px;
  border: 1px solid #1E91B6;
  background: #1E91B6;
  font-family: 'Poppins';
  cursor: pointer;
  width: 6vw;
  height: 4.5vh;
  font-weight: 500;
  font-size: 18px;
  margin-right: 0.3vw;
  margin-left: 0.3vw;
  color: #ffffff;
}

.pagination-controls {
  margin-left: 0vw;
  padding: 1%;
}