.html {
  overflow-y: hidden;
  overflow-x: hidden;
}

.search {
  overflow-x: hidden;
  overflow-y: hidden;
}

.search .image-12 {
  margin-top: 30px;
  margin-left: 60px;
  width: 20px;
  height: 20px;
}

.search .rooms {
  margin-left: 115px;
  margin-top: 0px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.4px;
  color: #000000;
}

.search .label-text-1 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #1C1B1F;
}

.search .label-text {
  background: var(--neutrals-white, #FFFFFF);
  position: absolute;
  left: 14px;
  top: 0px;
  translate: -50% 0;
  display: flex;
  padding: 0 4.7px 0 4px;
  box-sizing: border-box;
}

.search .content {
  position: relative;
  margin-bottom: 6.8px;
  align-self: flex-start;
  width: 57px;
  height: 21px;
}

.search .container {
  border-radius: 100px;
  display: flex;
  width: 21px;
  height: 16.5px;
  box-sizing: border-box;
}

.search .leading-icon {
  margin: 0 1.5px;
  display: flex;
  align-self: flex-start;
  width: 21px;
  height: 16.5px;
  box-sizing: border-box;
}

.search .search-room {
  border-radius: 4px 4px 0 0;
  margin-top: 7px;
  display: flex;
  width: 497px;
  height: fit-content;
  box-sizing: border-box;
}

.search .vector-bed {
  position: relative;
  z-index: 1;
  width: 34px;
  margin-left: 3px;
  height: 27px;
}

.search .vector-1 {
  width: 28px;
  height: 26px;
  margin-top: -4px;
  margin-left: 175px;
}

.search .vector-2 {
  width: 28px;
  cursor: pointer;
  height: 26px;
  margin-top: -4px;
  margin-left: 175px;
}

.search .text-field {
  border-radius: 4px;
  border: 1px solid #79747E;
  background: #FFFFFF;
  position: absolute;
  left: 75%;
  top: 8px;
  translate: -50% 0;
  padding: 14px 14px 14px 0;
  width: 315px;
  height: 54px;
  box-sizing: border-box;
}

.search .text-field-1 {
  border-radius: 4px;
  border: 1px solid #79747E;
  background: #FFFFFF;
  position: absolute;
  left: 100%;
  top: 11px;
  translate: -50% 0;
  padding: 14px 14px 14px 0;
  width: 215px;
  height: 48px;
  box-sizing: border-box;
  z-index: 0;
}

  .search .label-text-3 {
    overflow-wrap: break-word;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 14px;
    color: #1C1B1F;
  }

.search .label-text-rooms {
  position: relative;
  z-index: 1;
  background: var(--neutrals-white, #FFFFFF);
  position: absolute;
  left: 14px;
  top: -3px;
  display: flex;
  padding: 0 4.7px 0 4px;
  box-sizing: border-box;
}

.search .label-text-2 {
  background: var(--neutrals-white, #FFFFFF);
  position: absolute;
  left: 121px;
  top: 0px;
  display: flex;
  padding: 0 4.7px 0 4px;
  box-sizing: border-box;
}

.search .check-in {
  border-radius: 4px 4px 0 0;
  position: relative;
  z-index: 0;
  margin-bottom: 4px;
  width: 215px; 
  height: 59px;
}


.filter-modal {
  position: absolute;
  margin-top: 5%;
  left: 60%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.rmdp-range:has(.reserved) {
  background-color: #686868;
}

.reserved {
  background-color: #686868;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.booking_calendar {
  position: absolute;
  margin-top: -700px;
  margin-left: 740px;  
}
.blue {
  color: #30a4cb;
}

.check_in_icon {
  position: absolute;
  z-index: 1;
  margin-left: 516.5px;
  margin-top: 22px;
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.calendar {
  position: absolute;
  margin-top: 6%;
  margin-left: 25%;
}

.filter-calendar {
  width: 400px;
  max-width: 100%;
  max-height: 420px;
  margin: 0%;
  background-color: #fff;
  color: #222;
  border-radius: 8px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 150%;
}

.search .text-field-2 {
  border-radius: 4px;
  border: 1px solid #79747E;
  background: #FFFFFF;
  position: absolute;
  left: 100%;
  top: 11px;
  translate: -50% 0;
  padding: 14px 14px 14px 0;
  width: 215px;
  height: 48px;
  box-sizing: border-box;
}

.search .label-text-5 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  color: #1C1B1F;
}

.search .label-text-4 {
  background: var(--neutrals-white, #FFFFFF);
  position: absolute;
  left: 121px;
  top: 0px;
  display: flex;
  padding: 0 4.1px 0 4px;
  box-sizing: border-box;
}

.search .check-out {
  border-radius: 4px 4px 0 0;
  position: relative;
  margin-bottom: 4px;
  width: 215px;
  height: 59px;
}

.search .vector {
  width: 36.6px;
  height: 27.6px;
  margin-top: -4px;
}

.search .material-symbolssearch-rounded {
  margin: 2px 7.4px 2.4px 0;
  display: flex;
  width: 17.6px;
  height: 17.6px;
  box-sizing: border-box;
}

.search .input_searchQuery {
  position: relative;
  outline: none;
  border: none;
  margin-top: 20px;
  height: 30px;
  margin-left: 50px;
  width: 35vw;
  background: none;
  background-color: transparent;
}

.search .button {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  margin-left: 7px;
  margin-right: 4px;
  color: #FFFFFF;
}

.search .style-layer {
  cursor: pointer;
  padding-top: 13px;
  padding-inline: 10px;
  border-radius: 4px;
  background: #1E91B6;
  margin: 11px 0 4px 100px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.search .custom-show {
  position: absolute;
  margin-left: 13vw;
  margin-top: 3vh;
}

.search .custom-select {
  position: absolute;
  top: 47.5vh;
  left: 18vw;
}


.style-layer-2 {
  position: absolute;
  margin-top: 185px;
  margin-left: 360px;
  width: 150px;
  height: 40px;
  padding-top: 13px;
  padding-inline: 10px;
  border-radius: 4px;
  background: #1E91B6;
}

.button-2 {
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 17px;
  margin-left: 21px;
  color: #FFFFFF;
}

.search .frame-40 {
  box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.20);
  border-radius: 15px;
  background: var(--neutrals, #FFFFFF);
  margin: 20px 155px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  column-gap: 16px;
  padding: 22px 24px 29px 24px;
  width: fit-content;
  box-sizing: border-box;
}

.search {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  width: 1250px;
  margin: 0 auto;
  box-sizing: border-box;
}

.results .showing-4-of-108-places {
  margin-left: 150px;
  width: 712.5px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: var(--blackish-green, #112211);
}

.showing-4-of-108-places-sub6 {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.333;
}

.showing-4-of-108-places {
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  line-height: 1.333;
  color: #1E91B6;
}

.results .sort-by-recommended {
  margin-top: 18px;
  margin-right: 6.5vw;
  width: 100px;
  overflow-wrap: break-word;
  font-family: 'Montserrat';
  font-weight: 600;
  font-size: 18px;
  color: var(--blackish-green, #112211);
}

.results .vector {
  width: 10.1px;
  height: 5.1px;
}

.results .chevron-down {
  margin: 6.8px 0 10.2px 0;
  display: flex;
  width: 10.1px;
  height: 5.1px;
  box-sizing: border-box;
}

.results .frame-49 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.results .frame-201 {
  margin: 0 10.8px 0px 10.8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-wrap: break-word;
  align-self: flex-start;
  width: 1200px;
  box-sizing: border-box;
}

.results .master-suite-tropicana {
  margin-left: 0px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0.2px;
  color: #1A1A1A;
}

.results .sea-view-extra-services {
  margin-top: 10%;
  margin-left: -37.5%;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.1px;
  color: #000000;
}

.results .container-1 {
  margin: 4.5px 0 153px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.results .room {
  box-shadow: 0px 3px 4px 4px rgba(59, 59, 59, 0.25);
  width: 590px;
  height: 300px;
  border: 1px solid #dcdcdc;
  border-radius: 6px;
  background: #FFFFFF;
  position: relative;
  margin-right: 13px;
  display: flex;
  flex-direction: row;
  padding: 31px 17.2px 41px 19px;
  box-sizing: border-box;
}

.results .image {
  border-radius: 6px 6px 0 0;
  margin-right: 18px;
  width: 320px;
  height: 240px;
}

.results .twin-bedroom {
  margin-bottom: 33.5px;
  display: inline-block;
  align-self: flex-end;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.2px;
  color: #1A1A1A;
}

.results .rooms-tv-and-wi-fi {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.1px;
  color: #585858;
}

.results .container {
  margin: 4.5px 0 153px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.results .container-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-bottom: 0;
  margin: 1%;
  padding: 1%;
  border-radius: 15px;
}

.results {
  display: flex;
  flex-direction: column;
  width: 1243px;
  box-sizing: border-box;
}

.frame-201 .custom-select-2 {
  overflow-x: hidden;
  position: relative;
  top: 14px;
  right: 115px;
  width: 120px;
  height: 30px;
  border: 2px solid #1E91B6;
  border-radius: 4px;
  background-color: #1E91B6;
  overflow: hidden;
  border-radius: 5px;
  color: white;
}

.frame-201 .custom-select-2 select {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  appearance: none;
}

.frame-201 .custom-select-2 select::-ms-expand {
  display: none;
}

.frame-201 .custom-select-2::after {
  content: '\25BC';
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #626262;
  font-size: 16px;
}

.frame-201 .custom-select-2 select option {
  padding: 10px;
}

.frame-201 .custom-select-2 select option:checked {
  background-color: #15406e;
  color: #fff;
}

select option {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 15px;
  background-color: #f9f9f9;
  color: #333;
}

select option:checked {
  font-family: 'Poppins';
  font-weight: 300;
  font-size: 15px;
  background-color: #ccc;
}